/*minifyOnSave, minifier: clean-css, checkOutputFileAlreadyExists: false, checkAlreadyMinifiedFile: false, filenamePattern: $1.min.$2 */
@charset "UTF-8";
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: [$hot_hover];
	-webkit-tap-highlight-color: transparent; /* NOTE For some Androids */
}
html, body, section, article, header, div, span, applet, object, iframe, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, svg, ins, kbd, q, s,
samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, a, figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	text-decoration: none;
	color: inherit;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: TrebuchetMS, Arial, sans-serif;
	font-size: calc(16px + 1vw);
	line-height: calc(1.1em + 0.5vw);
	padding: 0;
	color: #fff;
	-webkit-font-smoothing:subpixel-antialiased;
	-webkit-text-size-adjust:100%;
	-moz-osx-font-smoothing:[$firefox_alias];
}
body {
	overflow-x: hidden;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
details/*,
summary*/ {
	display: block;
}

#icon,
#weather,
.svgIcon,
#beaufort,
.dataText,
#time span,
#time1 span {
	display: inline-block;
}
/* IMAGES */
div.svgSprite,
svg.weather-sprite {
	position: absolute;
	height: 0;
	width: 0;
	visibility: hidden;
}
#weather {
	vertical-align: middle;
}
#weather .dataText:last-of-type {
	margin: 0 0.3em;
}
#weather svg.getting {
	width: 551px;
	max-width: 100%;
	height: 363px;
}
#icon,
.svgIcon {
	width: 1.75em;
	height: 1.75em;
	vertical-align: middle;
}
/* NOTE Weahter/forecast icon wrapper */
#icon {
	background-color: transparent;
	opacity: 0;
}
#icon.weather .svgIcon {
	width: 100%;
	height: 100%;
}
#weather .svgIcon,
#weatherdetails .svgIcon {
	margin-right: 0.2em
}
#pressure g#arm,
#windirection g#arrow {
	transform-box: fill-box;
	-webkit-transform-origin: center;
	        transform-origin: center;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-filter: drop-shadow(1.5em 1.5em 1.5em #000);
	        filter: drop-shadow(1.5em 1.5em 1.5em #000);
}
#windirection g#arrow {
	-webkit-transform: rotate(var(--windeg));
	        transform: rotate(var(--windeg));
}
#pressure g#arm {
	-webkit-transform: rotate(calc(var(--hPa) - 43deg));
	        transform: rotate(calc(var(--hPa) - 43deg));
}

main {
	margin: 0 auto;
	padding: 0;
	width: 100vw;
	height: 100%;
}
/* NOTE Center stuff */
#gps,
time,
#wd_wind,
#forecast,
#wd_location {
	text-align: center;
}
main a {
	text-decoration: none;
	color: inherit;
}
main.nightmode {
	background: #121212 -webkit-gradient(linear, right top, left bottom, color-stop(10%, #121212), to(#333955));
	background: #121212 linear-gradient(to bottom left, #121212 10%, #333955 100%);
	color: #fff;
	text-shadow: 1px 1px 1px black;
}
main.daymode {
	background: #87ceeb -webkit-gradient(linear, right top, left bottom, from(#87ceeb), to(#ccc));
	background: #87ceeb linear-gradient(to bottom left, #87ceeb 0%, #ccc 100%);
	color: #333;
	text-shadow: 2px 2px 4px white;
}
main .divider {
	color: #4788c7;
	margin-left: 0.2vmax;
	margin-right: 0.2vmax;
}
#clocklayer {
	position: absolute;
	left: 0;
	left: 50%;
	top: 0;
	width: auto;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
	background: transparent;
	color: inherit;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-color: #4788c7 #98ccfd;
	scrollbar-width: none;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}
#gps.dataText {
	display: block;
	white-space: nowrap;
}
#gps.dataText span {
	vertical-align: middle;
}
time {
	display: block;
	font-size: 16vmax;
	line-height: normal;
	white-space: nowrap;
}
#time,#time1 {
	margin: 1px 0 0 0;
}
#time span,#time1 span {
	max-width: 2em;
	margin-top: 0.3em;
	vertical-align: text-top;
	font-size: 0.4em;
	white-space: normal;
}
#date {
	margin-bottom: 0.4em;
	font-size: 5vmax;
}
.dataText {
	font-size: 1.3em;
	vertical-align: middle;
}
details#details {
	display: none;
}
details#details.visible {
	display: block;
}
details summary {
	list-style: none;
}
details summary svg.svgIcon.arrow {
	height: 0.8em;
	width: 0.8em;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	-webkit-filter: drop-shadow(.1em .1em .0em #4788c7);
	        filter: drop-shadow(.1em .1em .0em #4788c7);
}
details[open] summary svg.svgIcon.arrow {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-filter: drop-shadow(.1em .0em .0em #4788c7);
	        filter: drop-shadow(.1em .0em .0em #4788c7);
}
details[open] summary ~ * {
	-webkit-animation: sweep .5s ease-in-out;
	        animation: sweep .5s ease-in-out;
}
summary {
	font-size: 1.3em;
	text-align: center;
}
#weatherdetails {
	display: grid;
	grid-template-rows: auto;
	/*grid-template-columns: repeat(3,1fr);*/
	grid-template-columns: 1fr minmax(auto,1fr) 1fr;
	grid-gap: 0.2em;
	grid-template-areas: "wind wind wind"
		"pressure . humidity"
		"sunrise . sunset"
		"morning . evening"
		"moonset . moonrise"
		"location location location";
	list-style: none;
	margin: 0.5em auto;
	padding: 0;
	white-space: nowrap;
}
#wd_location {
	grid-area: location;
}
#wd_wind {
	grid-area: wind;
}
#wd_wind .dataText {
	margin: 0 0.4em;
}
#wd_pressure {
	grid-area: pressure;
}
#wd_humidity {
	grid-area: humidity;
}
#wd_sunrise {
	grid-area: sunrise;
}
#wd_sunset {
	grid-area: sunset;
}
#wd_moonset {
	grid-area: moonset;
}
#wd_moonrise {
	grid-area: moonrise;
}
#wd_morning {
	grid-area: morning;
}
#wd_evening {
	grid-area: evening;
}
#wd_morning .svgIcon,
#wd_evening .svgIcon {
	transform-box: fill-box;
	-webkit-transform-origin: center;
	        transform-origin: center;
}
#wd_morning .svgIcon {
	-webkit-transform: rotate(270deg);
	        transform: rotate(270deg);
}
#wd_evening .svgIcon {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
#gpsbutton {
	-webkit-appearance: none;
	   -moz-appearance: none;
	display: none;
	margin: 0 auto;
	padding: 0 16px 0 16px;
	width: auto;
	height: 40px;
	border: 2px outset #fff;
	border-radius: 12px;
	background: #dedeff;
	color: black;
	cursor: pointer;
}
#gpsbutton:hover {
	background: #000033;
	border: 2px inset #fff;
	color: #fff;
}
/*
Animated cloud code adapted from Mark Bowley's CodePen at https://codepen.io/Mark_Bowley/pen/xEbuI
*/
#cloudlayer,
#rainlayer,
#snowlayer,
#sunlayer,
#clearnightlayer,
#mistlayer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	pointer-events: none;
	overflow: hidden;
	display: none;
	background-color: transparent;
}
#clearnightlayer {
	background-color: transparent;
}
#stars {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	/*background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#333));
	background: linear-gradient(0deg, #000, #333);*/
	background: linear-gradient(45deg, #000835 0%, #000 100%);
	overflow: hidden
}
#stars i {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0.0625em;/* 1px */
	height: 0.0625em;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0.0625em #fff;
	        box-shadow: 0 0 0.0625em #fff;
	-webkit-animation: twinkle 0.5s alternate infinite;
	        animation: twinkle 0.5s alternate infinite;
}
#stars .m {
	width: 0.1875em;/* 3px */
	height: 0.1875em;
	-webkit-box-shadow: 0 0 0.1875em #fff;
	        box-shadow: 0 0 0.1875em #fff;
	-webkit-animation-duration: 0.75s;
	        animation-duration: 0.75s;
}
#stars .st-1 {
	left: 64%;
	top: 26%;
	-webkit-animation-delay: 0.40625s;
	        animation-delay: 0.40625s;
}
#stars .st-2 {
	left: 8%;
	top: 62%;
	-webkit-animation-delay: 7.75s;
	        animation-delay: 7.75s;
}
#stars .st-3 {
	left: 42%;
	top: 24%;
	-webkit-animation-delay: 0.5714285714s;
	        animation-delay: 0.5714285714s;
}
#stars .st-4 {
	left: 79%;
	top: 23%;
	-webkit-animation-delay: 0.2911392405s;
	        animation-delay: 0.2911392405s;
}
#stars .st-5 {
	left: 10%;
	top: 92%;
	-webkit-animation-delay: 9.2s;
	        animation-delay: 9.2s;
}
#stars .st-6 {
	left: 51%;
	top: 35%;
	-webkit-animation-delay: 0.6862745098s;
	        animation-delay: 0.6862745098s;
}
#stars .st-7 {
	left: 92%;
	top: 69%;
	-webkit-animation-delay: 0.75s;
	        animation-delay: 0.75s;
}
#stars .st-8 {
	left: 70%;
	top: 75%;
	-webkit-animation-delay: 1.0714285714s;
	        animation-delay: 1.0714285714s;
}
#stars .st-9 {
	left: 49%;
	top: 32%;
	-webkit-animation-delay: 0.6530612245s;
	        animation-delay: 0.6530612245s;
}
#stars .st-10 {
	left: 69%;
	top: 39%;
	-webkit-animation-delay: 0.5652173913s;
	        animation-delay: 0.5652173913s;
}
#stars .st-11 {
	left: 96%;
	top: 60%;
	-webkit-animation-delay: 0.625s;
	        animation-delay: 0.625s;
}
#stars .st-12 {
	left: 7%;
	top: 93%;
	-webkit-animation-delay: 13.2857142857s;
	        animation-delay: 13.2857142857s;
}
#stars .st-13 {
	left: 15%;
	top: 3%;
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}
#stars .st-14 {
	left: 58%;
	top: 77%;
	-webkit-animation-delay: 1.3275862069s;
	        animation-delay: 1.3275862069s;
}
#stars .st-15 {
	left: 63%;
	top: 37%;
	-webkit-animation-delay: 0.5873015873s;
	        animation-delay: 0.5873015873s;
}
#stars .st-16 {
	left: 90%;
	top: 91%;
	-webkit-animation-delay: 1.0111111111s;
	        animation-delay: 1.0111111111s;
}
#stars .st-17 {
	left: 20%;
	top: 82%;
	-webkit-animation-delay: 4.1s;
	        animation-delay: 4.1s;
}
#stars .st-18 {
	left: 28%;
	top: 87%;
	-webkit-animation-delay: 3.1071428571s;
	        animation-delay: 3.1071428571s;
}
#stars .st-19 {
	left: 95%;
	top: 79%;
	-webkit-animation-delay: 0.8315789474s;
	        animation-delay: 0.8315789474s;
}
#stars .st-20 {
	left: 3%;
	top: 97%;
	-webkit-animation-delay: 32.3333333333s;
	        animation-delay: 32.3333333333s;
}
#stars .st-21 {
	left: 72%;
	top: 32%;
	-webkit-animation-delay: 0.4444444444s;
	        animation-delay: 0.4444444444s;
}
#stars .st-22 {
	left: 88%;
	top: 68%;
	-webkit-animation-delay: 0.7727272727s;
	        animation-delay: 0.7727272727s;
}
#stars .st-23 {
	left: 13%;
	top: 41%;
	-webkit-animation-delay: 3.1538461538s;
	        animation-delay: 3.1538461538s;
}
#stars .st-24 {
	left: 75%;
	top: 35%;
	-webkit-animation-delay: 0.4666666667s;
	        animation-delay: 0.4666666667s;
}
#stars .st-25 {
	left: 67%;
	top: 25%;
	-webkit-animation-delay: 0.3731343284s;
	        animation-delay: 0.3731343284s;
}
#stars .st-26 {
	left: 93%;
	top: 91%;
	-webkit-animation-delay: 0.9784946237s;
	        animation-delay: 0.9784946237s;
}
#stars .st-27 {
	left: 59%;
	top: 46%;
	-webkit-animation-delay: 0.7796610169s;
	        animation-delay: 0.7796610169s;
}
#stars .st-28 {
	left: 33%;
	top: 16%;
	-webkit-animation-delay: 0.4848484848s;
	        animation-delay: 0.4848484848s;
}
#stars .st-29 {
	left: 5%;
	top: 77%;
	-webkit-animation-delay: 15.4s;
	        animation-delay: 15.4s;
}
#stars .st-30 {
	left: 65%;
	top: 26%;
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s;
}
#stars .st-31 {
	left: 59%;
	top: 79%;
	-webkit-animation-delay: 1.3389830508s;
	        animation-delay: 1.3389830508s;
}
#stars .st-32 {
	left: 2%;
	top: 47%;
	-webkit-animation-delay: 23.5s;
	        animation-delay: 23.5s;
}
#stars .st-33 {
	left: 66%;
	top: 7%;
	-webkit-animation-delay: 0.1060606061s;
	        animation-delay: 0.1060606061s;
}
#stars .st-34 {
	left: 45%;
	top: 74%;
	-webkit-animation-delay: 1.6444444444s;
	        animation-delay: 1.6444444444s;
}
#stars .st-35 {
	left: 47%;
	top: 55%;
	-webkit-animation-delay: 1.170212766s;
	        animation-delay: 1.170212766s;
}
#stars .st-36 {
	left: 16%;
	top: 53%;
	-webkit-animation-delay: 3.3125s;
	        animation-delay: 3.3125s;
}
#stars .st-37 {
	left: 20%;
	top: 74%;
	-webkit-animation-delay: 3.7s;
	        animation-delay: 3.7s;
}
#stars .st-38 {
	left: 47%;
	top: 23%;
	-webkit-animation-delay: 0.4893617021s;
	        animation-delay: 0.4893617021s;
}
#stars .st-39 {
	left: 85%;
	top: 64%;
	-webkit-animation-delay: 0.7529411765s;
	        animation-delay: 0.7529411765s;
}
#stars .st-40 {
	left: 50%;
	top: 11%;
	-webkit-animation-delay: 0.22s;
	        animation-delay: 0.22s;
}
#stars .st-41 {
	left: 35%;
	top: 74%;
	-webkit-animation-delay: 2.1142857143s;
	        animation-delay: 2.1142857143s;
}
#stars .st-42 {
	left: 40%;
	top: 2%;
	-webkit-animation-delay: 0.05s;
	        animation-delay: 0.05s;
}
#stars .st-43 {
	left: 38%;
	top: 86%;
	-webkit-animation-delay: 2.2631578947s;
	        animation-delay: 2.2631578947s;
}
#stars .st-44 {
	left: 79%;
	top: 61%;
	-webkit-animation-delay: 0.7721518987s;
	        animation-delay: 0.7721518987s;
}
#stars .st-45 {
	left: 58%;
	top: 5%;
	-webkit-animation-delay: 0.0862068966s;
	        animation-delay: 0.0862068966s;
}
#stars .st-46 {
	left: 97%;
	top: 43%;
	-webkit-animation-delay: 0.4432989691s;
	        animation-delay: 0.4432989691s;
}
#stars .st-47 {
	left: 35%;
	top: 6%;
	-webkit-animation-delay: 0.1714285714s;
	        animation-delay: 0.1714285714s;
}
#stars .st-48 {
	left: 98%;
	top: 85%;
	-webkit-animation-delay: 0.8673469388s;
	        animation-delay: 0.8673469388s;
}
#stars .st-49 {
	left: 1%;
	top: 40%;
	-webkit-animation-delay: 40s;
	        animation-delay: 40s;
}
#stars .st-50 {
	left: 8%;
	top: 86%;
	-webkit-animation-delay: 10.75s;
	        animation-delay: 10.75s;
}
#stars .st-51 {
	left: 83%;
	top: 83%;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
#stars .st-52 {
	left: 43%;
	top: 11%;
	-webkit-animation-delay: 0.2558139535s;
	        animation-delay: 0.2558139535s;
}
#stars .st-53 {
	left: 5%;
	top: 29%;
	-webkit-animation-delay: 5.8s;
	        animation-delay: 5.8s;
}
#stars .st-54 {
	left: 27%;
	top: 65%;
	-webkit-animation-delay: 2.4074074074s;
	        animation-delay: 2.4074074074s;
}
#stars .st-55 {
	left: 34%;
	top: 46%;
	-webkit-animation-delay: 1.3529411765s;
	        animation-delay: 1.3529411765s;
}
#stars .st-56 {
	left: 27%;
	top: 54%;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
#stars .st-57 {
	left: 10%;
	top: 5%;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
#stars .st-58 {
	left: 61%;
	top: 38%;
	-webkit-animation-delay: 0.6229508197s;
	        animation-delay: 0.6229508197s;
}
#stars .st-59 {
	left: 27%;
	top: 80%;
	-webkit-animation-delay: 2.962962963s;
	        animation-delay: 2.962962963s;
}
#stars .st-60 {
	left: 15%;
	top: 24%;
	-webkit-animation-delay: 1.6s;
	        animation-delay: 1.6s;
}
#stars .st-61 {
	left: 1%;
	top: 44%;
	-webkit-animation-delay: 44s;
	        animation-delay: 44s;
}
#stars .st-62 {
	left: 45%;
	top: 19%;
	-webkit-animation-delay: 0.4222222222s;
	        animation-delay: 0.4222222222s;
}
#stars .st-63 {
	left: 82%;
	top: 79%;
	-webkit-animation-delay: 0.9634146341s;
	        animation-delay: 0.9634146341s;
}
#stars .st-64 {
	left: 1%;
	top: 20%;
	-webkit-animation-delay: 20s;
	        animation-delay: 20s;
}
#stars .st-65 {
	left: 70%;
	top: 45%;
	-webkit-animation-delay: 0.6428571429s;
	        animation-delay: 0.6428571429s;
}
#stars .st-66 {
	left: 53%;
	top: 47%;
	-webkit-animation-delay: 0.8867924528s;
	        animation-delay: 0.8867924528s;
}
#stars .st-67 {
	left: 2%;
	top: 100%;
	-webkit-animation-delay: 50s;
	        animation-delay: 50s;
}
#stars .st-68 {
	left: 20%;
	top: 4%;
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}
#stars .st-69 {
	left: 12%;
	top: 52%;
	-webkit-animation-delay: 4.3333333333s;
	        animation-delay: 4.3333333333s;
}
#stars .st-70 {
	left: 15%;
	top: 36%;
	-webkit-animation-delay: 2.4s;
	        animation-delay: 2.4s;
}
#stars .st-71 {
	left: 34%;
	top: 65%;
	-webkit-animation-delay: 1.9117647059s;
	        animation-delay: 1.9117647059s;
}
#stars .st-72 {
	left: 34%;
	top: 23%;
	-webkit-animation-delay: 0.6764705882s;
	        animation-delay: 0.6764705882s;
}
#stars .st-73 {
	left: 100%;
	top: 7%;
	-webkit-animation-delay: 0.07s;
	        animation-delay: 0.07s;
}
#stars .st-74 {
	left: 49%;
	top: 31%;
	-webkit-animation-delay: 0.6326530612s;
	        animation-delay: 0.6326530612s;
}
#stars .st-75 {
	left: 21%;
	top: 100%;
	-webkit-animation-delay: 4.7619047619s;
	        animation-delay: 4.7619047619s;
}
#stars .st-76 {
	left: 20%;
	top: 83%;
	-webkit-animation-delay: 4.15s;
	        animation-delay: 4.15s;
}
#stars .st-77 {
	left: 45%;
	top: 24%;
	-webkit-animation-delay: 0.5333333333s;
	        animation-delay: 0.5333333333s;
}
#stars .st-78 {
	left: 75%;
	top: 98%;
	-webkit-animation-delay: 1.3066666667s;
	        animation-delay: 1.3066666667s;
}
#stars .st-79 {
	left: 23%;
	top: 87%;
	-webkit-animation-delay: 3.7826086957s;
	        animation-delay: 3.7826086957s;
}
#stars .st-80 {
	left: 62%;
	top: 68%;
	-webkit-animation-delay: 1.0967741935s;
	        animation-delay: 1.0967741935s;
}
#stars .st-81 {
	left: 28%;
	top: 30%;
	-webkit-animation-delay: 1.0714285714s;
	        animation-delay: 1.0714285714s;
}
#stars .st-82 {
	left: 94%;
	top: 21%;
	-webkit-animation-delay: 0.2234042553s;
	        animation-delay: 0.2234042553s;
}
#stars .st-83 {
	left: 9%;
	top: 62%;
	-webkit-animation-delay: 6.8888888889s;
	        animation-delay: 6.8888888889s;
}
#stars .st-84 {
	left: 21%;
	top: 16%;
	-webkit-animation-delay: 0.7619047619s;
	        animation-delay: 0.7619047619s;
}
#stars .st-85 {
	left: 17%;
	top: 15%;
	-webkit-animation-delay: 0.8823529412s;
	        animation-delay: 0.8823529412s;
}
#stars .st-86 {
	left: 82%;
	top: 70%;
	-webkit-animation-delay: 0.8536585366s;
	        animation-delay: 0.8536585366s;
}
#stars .st-87 {
	left: 44%;
	top: 60%;
	-webkit-animation-delay: 1.3636363636s;
	        animation-delay: 1.3636363636s;
}
#stars .st-88 {
	left: 78%;
	top: 37%;
	-webkit-animation-delay: 0.4743589744s;
	        animation-delay: 0.4743589744s;
}
#stars .st-89 {
	left: 12%;
	top: 4%;
	-webkit-animation-delay: 0.3333333333s;
	        animation-delay: 0.3333333333s;
}
#stars .st-90 {
	left: 82%;
	top: 100%;
	-webkit-animation-delay: 1.2195121951s;
	        animation-delay: 1.2195121951s;
}
#stars .st-91 {
	left: 1%;
	top: 75%;
	-webkit-animation-delay: 75s;
	        animation-delay: 75s;
}
#stars .st-92 {
	left: 39%;
	top: 14%;
	-webkit-animation-delay: 0.358974359s;
	        animation-delay: 0.358974359s;
}
#stars .st-93 {
	left: 23%;
	top: 70%;
	-webkit-animation-delay: 3.0434782609s;
	        animation-delay: 3.0434782609s;
}
#stars .st-94 {
	left: 49%;
	top: 63%;
	-webkit-animation-delay: 1.2857142857s;
	        animation-delay: 1.2857142857s;
}
#stars .st-95 {
	left: 43%;
	top: 96%;
	-webkit-animation-delay: 2.2325581395s;
	        animation-delay: 2.2325581395s;
}
#stars .st-96 {
	left: 84%;
	top: 81%;
	-webkit-animation-delay: 0.9642857143s;
	        animation-delay: 0.9642857143s;
}
#stars .st-97 {
	left: 49%;
	top: 26%;
	-webkit-animation-delay: 0.5306122449s;
	        animation-delay: 0.5306122449s;
}
#stars .st-98 {
	left: 88%;
	top: 93%;
	-webkit-animation-delay: 1.0568181818s;
	        animation-delay: 1.0568181818s;
}
#stars .st-99 {
	left: 72%;
	top: 25%;
	-webkit-animation-delay: 0.3472222222s;
	        animation-delay: 0.3472222222s;
}
#stars .st-100 {
	left: 57%;
	top: 62%;
	-webkit-animation-delay: 1.0877192982s;
	        animation-delay: 1.0877192982s;
}
#stars .st-101 {
	left: 60%;
	top: 57%;
	-webkit-animation-delay: 0.95s;
	        animation-delay: 0.95s;
}
#stars .st-102 {
	left: 69%;
	top: 96%;
	-webkit-animation-delay: 1.3913043478s;
	        animation-delay: 1.3913043478s;
}
#stars .st-103 {
	left: 94%;
	top: 95%;
	-webkit-animation-delay: 1.0106382979s;
	        animation-delay: 1.0106382979s;
}
#stars .st-104 {
	left: 79%;
	top: 8%;
	-webkit-animation-delay: 0.1012658228s;
	        animation-delay: 0.1012658228s;
}
#stars .st-105 {
	left: 67%;
	top: 94%;
	-webkit-animation-delay: 1.4029850746s;
	        animation-delay: 1.4029850746s;
}
#stars .st-106 {
	left: 5%;
	top: 48%;
	-webkit-animation-delay: 9.6s;
	        animation-delay: 9.6s;
}
#stars .st-107 {
	left: 70%;
	top: 59%;
	-webkit-animation-delay: 0.8428571429s;
	        animation-delay: 0.8428571429s;
}
#stars .st-108 {
	left: 89%;
	top: 15%;
	-webkit-animation-delay: 0.1685393258s;
	        animation-delay: 0.1685393258s;
}
#stars .st-109 {
	left: 86%;
	top: 40%;
	-webkit-animation-delay: 0.4651162791s;
	        animation-delay: 0.4651162791s;
}
#stars .st-110 {
	left: 20%;
	top: 62%;
	-webkit-animation-delay: 3.1s;
	        animation-delay: 3.1s;
}
#stars .st-111 {
	left: 49%;
	top: 71%;
	-webkit-animation-delay: 1.4489795918s;
	        animation-delay: 1.4489795918s;
}
#stars .st-112 {
	left: 16%;
	top: 66%;
	-webkit-animation-delay: 4.125s;
	        animation-delay: 4.125s;
}
#stars .st-113 {
	left: 40%;
	top: 91%;
	-webkit-animation-delay: 2.275s;
	        animation-delay: 2.275s;
}
#stars .st-114 {
	left: 45%;
	top: 24%;
	-webkit-animation-delay: 0.5333333333s;
	        animation-delay: 0.5333333333s;
}
#stars .st-115 {
	left: 72%;
	top: 93%;
	-webkit-animation-delay: 1.2916666667s;
	        animation-delay: 1.2916666667s;
}
#stars .st-116 {
	left: 14%;
	top: 50%;
	-webkit-animation-delay: 3.5714285714s;
	        animation-delay: 3.5714285714s;
}
#stars .st-117 {
	left: 6%;
	top: 23%;
	-webkit-animation-delay: 3.8333333333s;
	        animation-delay: 3.8333333333s;
}
#stars .st-118 {
	left: 78%;
	top: 72%;
	-webkit-animation-delay: 0.9230769231s;
	        animation-delay: 0.9230769231s;
}
#stars .st-119 {
	left: 35%;
	top: 51%;
	-webkit-animation-delay: 1.4571428571s;
	        animation-delay: 1.4571428571s;
}
#stars .st-120 {
	left: 62%;
	top: 15%;
	-webkit-animation-delay: 0.2419354839s;
	        animation-delay: 0.2419354839s;
}
#stars .st-121 {
	left: 11%;
	top: 50%;
	-webkit-animation-delay: 4.5454545455s;
	        animation-delay: 4.5454545455s;
}
#stars .st-122 {
	left: 8%;
	top: 6%;
	-webkit-animation-delay: 0.75s;
	        animation-delay: 0.75s;
}
#stars .st-123 {
	left: 29%;
	top: 91%;
	-webkit-animation-delay: 3.1379310345s;
	        animation-delay: 3.1379310345s;
}
#stars .st-124 {
	left: 24%;
	top: 40%;
	-webkit-animation-delay: 1.6666666667s;
	        animation-delay: 1.6666666667s;
}
#stars .st-125 {
	left: 65%;
	top: 97%;
	-webkit-animation-delay: 1.4923076923s;
	        animation-delay: 1.4923076923s;
}
#stars .st-126 {
	left: 2%;
	top: 89%;
	-webkit-animation-delay: 44.5s;
	        animation-delay: 44.5s;
}
#stars .st-127 {
	left: 48%;
	top: 16%;
	-webkit-animation-delay: 0.3333333333s;
	        animation-delay: 0.3333333333s;
}
#stars .st-128 {
	left: 8%;
	top: 26%;
	-webkit-animation-delay: 3.25s;
	        animation-delay: 3.25s;
}
#stars .st-129 {
	left: 35%;
	top: 67%;
	-webkit-animation-delay: 1.9142857143s;
	        animation-delay: 1.9142857143s;
}
#stars .st-130 {
	left: 37%;
	top: 91%;
	-webkit-animation-delay: 2.4594594595s;
	        animation-delay: 2.4594594595s;
}
#stars .st-131 {
	left: 39%;
	top: 56%;
	-webkit-animation-delay: 1.4358974359s;
	        animation-delay: 1.4358974359s;
}
#stars .st-132 {
	left: 75%;
	top: 68%;
	-webkit-animation-delay: 0.9066666667s;
	        animation-delay: 0.9066666667s;
}
#stars .st-133 {
	left: 45%;
	top: 57%;
	-webkit-animation-delay: 1.2666666667s;
	        animation-delay: 1.2666666667s;
}
#stars .st-134 {
	left: 4%;
	top: 20%;
	-webkit-animation-delay: 5s;
	        animation-delay: 5s;
}
#stars .st-135 {
	left: 58%;
	top: 94%;
	-webkit-animation-delay: 1.6206896552s;
	        animation-delay: 1.6206896552s;
}
#stars .st-136 {
	left: 42%;
	top: 62%;
	-webkit-animation-delay: 1.4761904762s;
	        animation-delay: 1.4761904762s;
}
#stars .st-137 {
	left: 98%;
	top: 10%;
	-webkit-animation-delay: 0.1020408163s;
	        animation-delay: 0.1020408163s;
}
#stars .st-138 {
	left: 72%;
	top: 66%;
	-webkit-animation-delay: 0.9166666667s;
	        animation-delay: 0.9166666667s;
}
#stars .st-139 {
	left: 20%;
	top: 82%;
	-webkit-animation-delay: 4.1s;
	        animation-delay: 4.1s;
}
#stars .st-140 {
	left: 73%;
	top: 48%;
	-webkit-animation-delay: 0.6575342466s;
	        animation-delay: 0.6575342466s;
}
#stars .st-141 {
	left: 58%;
	top: 64%;
	-webkit-animation-delay: 1.1034482759s;
	        animation-delay: 1.1034482759s;
}
#stars .st-142 {
	left: 2%;
	top: 95%;
	-webkit-animation-delay: 47.5s;
	        animation-delay: 47.5s;
}
#stars .st-143 {
	left: 80%;
	top: 93%;
	-webkit-animation-delay: 1.1625s;
	        animation-delay: 1.1625s;
}
#stars .st-144 {
	left: 59%;
	top: 62%;
	-webkit-animation-delay: 1.0508474576s;
	        animation-delay: 1.0508474576s;
}
#stars .st-145 {
	left: 54%;
	top: 94%;
	-webkit-animation-delay: 1.7407407407s;
	        animation-delay: 1.7407407407s;
}
#stars .st-146 {
	left: 89%;
	top: 99%;
	-webkit-animation-delay: 1.1123595506s;
	        animation-delay: 1.1123595506s;
}
#stars .st-147 {
	left: 35%;
	top: 41%;
	-webkit-animation-delay: 1.1714285714s;
	        animation-delay: 1.1714285714s;
}
#stars .st-148 {
	left: 69%;
	top: 7%;
	-webkit-animation-delay: 0.1014492754s;
	        animation-delay: 0.1014492754s;
}
#stars .st-149 {
	left: 52%;
	top: 62%;
	-webkit-animation-delay: 1.1923076923s;
	        animation-delay: 1.1923076923s;
}
#stars .st-150 {
	left: 67%;
	top: 9%;
	-webkit-animation-delay: 0.1343283582s;
	        animation-delay: 0.1343283582s;
}
#stars .st-151 {
	left: 25%;
	top: 100%;
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
}
#stars .st-152 {
	left: 65%;
	top: 23%;
	-webkit-animation-delay: 0.3538461538s;
	        animation-delay: 0.3538461538s;
}
#stars .st-153 {
	left: 23%;
	top: 98%;
	-webkit-animation-delay: 4.2608695652s;
	        animation-delay: 4.2608695652s;
}
#stars .st-154 {
	left: 17%;
	top: 89%;
	-webkit-animation-delay: 5.2352941176s;
	        animation-delay: 5.2352941176s;
}
#stars .st-155 {
	left: 48%;
	top: 14%;
	-webkit-animation-delay: 0.2916666667s;
	        animation-delay: 0.2916666667s;
}
#stars .st-156 {
	left: 81%;
	top: 51%;
	-webkit-animation-delay: 0.6296296296s;
	        animation-delay: 0.6296296296s;
}
#stars .st-157 {
	left: 47%;
	top: 55%;
	-webkit-animation-delay: 1.170212766s;
	        animation-delay: 1.170212766s;
}
#stars .st-158 {
	left: 100%;
	top: 76%;
	-webkit-animation-delay: 0.76s;
	        animation-delay: 0.76s;
}
#stars .st-159 {
	left: 24%;
	top: 70%;
	-webkit-animation-delay: 2.9166666667s;
	        animation-delay: 2.9166666667s;
}
#stars .st-160 {
	left: 5%;
	top: 95%;
	-webkit-animation-delay: 19s;
	        animation-delay: 19s;
}
#stars .st-161 {
	left: 37%;
	top: 16%;
	-webkit-animation-delay: 0.4324324324s;
	        animation-delay: 0.4324324324s;
}
#stars .st-162 {
	left: 48%;
	top: 94%;
	-webkit-animation-delay: 1.9583333333s;
	        animation-delay: 1.9583333333s;
}
#stars .st-163 {
	left: 63%;
	top: 33%;
	-webkit-animation-delay: 0.5238095238s;
	        animation-delay: 0.5238095238s;
}
#stars .st-164 {
	left: 29%;
	top: 65%;
	-webkit-animation-delay: 2.2413793103s;
	        animation-delay: 2.2413793103s;
}
#stars .st-165 {
	left: 59%;
	top: 31%;
	-webkit-animation-delay: 0.5254237288s;
	        animation-delay: 0.5254237288s;
}
#stars .st-166 {
	left: 29%;
	top: 60%;
	-webkit-animation-delay: 2.0689655172s;
	        animation-delay: 2.0689655172s;
}
#stars .st-167 {
	left: 38%;
	top: 98%;
	-webkit-animation-delay: 2.5789473684s;
	        animation-delay: 2.5789473684s;
}
#stars .st-168 {
	left: 40%;
	top: 1%;
	-webkit-animation-delay: 0.025s;
	        animation-delay: 0.025s;
}
#stars .st-169 {
	left: 47%;
	top: 61%;
	-webkit-animation-delay: 1.2978723404s;
	        animation-delay: 1.2978723404s;
}
#stars .st-170 {
	left: 45%;
	top: 82%;
	-webkit-animation-delay: 1.8222222222s;
	        animation-delay: 1.8222222222s;
}
#stars .st-171 {
	left: 40%;
	top: 54%;
	-webkit-animation-delay: 1.35s;
	        animation-delay: 1.35s;
}
#stars .st-172 {
	left: 78%;
	top: 6%;
	-webkit-animation-delay: 0.0769230769s;
	        animation-delay: 0.0769230769s;
}
#stars .st-173 {
	left: 63%;
	top: 21%;
	-webkit-animation-delay: 0.3333333333s;
	        animation-delay: 0.3333333333s;
}
#stars .st-174 {
	left: 6%;
	top: 49%;
	-webkit-animation-delay: 8.1666666667s;
	        animation-delay: 8.1666666667s;
}
#stars .st-175 {
	left: 60%;
	top: 8%;
	-webkit-animation-delay: 0.1333333333s;
	        animation-delay: 0.1333333333s;
}
#stars .st-176 {
	left: 59%;
	top: 58%;
	-webkit-animation-delay: 0.9830508475s;
	        animation-delay: 0.9830508475s;
}
#stars .st-177 {
	left: 10%;
	top: 15%;
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}
#stars .st-178 {
	left: 27%;
	top: 23%;
	-webkit-animation-delay: 0.8518518519s;
	        animation-delay: 0.8518518519s;
}
#stars .st-179 {
	left: 28%;
	top: 64%;
	-webkit-animation-delay: 2.2857142857s;
	        animation-delay: 2.2857142857s;
}
#stars .st-180 {
	left: 4%;
	top: 11%;
	-webkit-animation-delay: 2.75s;
	        animation-delay: 2.75s;
}
#stars .st-181 {
	left: 51%;
	top: 51%;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
#stars .st-182 {
	left: 56%;
	top: 6%;
	-webkit-animation-delay: 0.1071428571s;
	        animation-delay: 0.1071428571s;
}
#stars .st-183 {
	left: 78%;
	top: 70%;
	-webkit-animation-delay: 0.8974358974s;
	        animation-delay: 0.8974358974s;
}
#stars .st-184 {
	left: 11%;
	top: 27%;
	-webkit-animation-delay: 2.4545454545s;
	        animation-delay: 2.4545454545s;
}
#stars .st-185 {
	left: 100%;
	top: 66%;
	-webkit-animation-delay: 0.66s;
	        animation-delay: 0.66s;
}
#stars .st-186 {
	left: 27%;
	top: 96%;
	-webkit-animation-delay: 3.5555555556s;
	        animation-delay: 3.5555555556s;
}
#stars .st-187 {
	left: 51%;
	top: 72%;
	-webkit-animation-delay: 1.4117647059s;
	        animation-delay: 1.4117647059s;
}
#stars .st-188 {
	left: 53%;
	top: 70%;
	-webkit-animation-delay: 1.320754717s;
	        animation-delay: 1.320754717s;
}
#stars .st-189 {
	left: 1%;
	top: 97%;
	-webkit-animation-delay: 97s;
	        animation-delay: 97s;
}
#stars .st-190 {
	left: 28%;
	top: 12%;
	-webkit-animation-delay: 0.4285714286s;
	        animation-delay: 0.4285714286s;
}
#stars .st-191 {
	left: 34%;
	top: 98%;
	-webkit-animation-delay: 2.8823529412s;
	        animation-delay: 2.8823529412s;
}
#stars .st-192 {
	left: 17%;
	top: 100%;
	-webkit-animation-delay: 5.8823529412s;
	        animation-delay: 5.8823529412s;
}
#stars .st-193 {
	left: 86%;
	top: 7%;
	-webkit-animation-delay: 0.0813953488s;
	        animation-delay: 0.0813953488s;
}
#stars .st-194 {
	left: 23%;
	top: 51%;
	-webkit-animation-delay: 2.2173913043s;
	        animation-delay: 2.2173913043s;
}
#stars .st-195 {
	left: 9%;
	top: 98%;
	-webkit-animation-delay: 10.8888888889s;
	        animation-delay: 10.8888888889s;
}
#stars .st-196 {
	left: 89%;
	top: 61%;
	-webkit-animation-delay: 0.6853932584s;
	        animation-delay: 0.6853932584s;
}
#stars .st-197 {
	left: 25%;
	top: 38%;
	-webkit-animation-delay: 1.52s;
	        animation-delay: 1.52s;
}
#stars .st-198 {
	left: 72%;
	top: 79%;
	-webkit-animation-delay: 1.0972222222s;
	        animation-delay: 1.0972222222s;
}
#stars .st-199 {
	left: 24%;
	top: 19%;
	-webkit-animation-delay: 0.7916666667s;
	        animation-delay: 0.7916666667s;
}
#stars .st-200 {
	left: 61%;
	top: 72%;
	-webkit-animation-delay: 1.1803278689s;
	        animation-delay: 1.1803278689s;
}
#rainlayer {
	overflow: visible;
	background-color: transparent;
	/*background-image: url("../img/fx/raindrops.jpg");
	background-size: 100% 100%;*/
}
#mistlayer {
	overflow: visible;
	background-color: transparent;
	background-image: url("../img/fx/mist.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#snowlayer {
	background-color: transparent;
	/*background-image: url("../img/fx/snow.png");*/
}
/*.snowimage {
	-webkit-animation: animateRain 10s linear infinite;
	        animation: animateRain 10s linear infinite;
	position: relative;
	opacity: 1;
	width: 100%;
	height: auto;
}*/
#rain,
#flakes {
	position: relative;
	top: -2em;
	width: 100%;
	text-align: center;
}
/* General Styling of the rain drops */
#rain i {
	color: #fff;
	display: inline-block;
	width: 1em;
	height: 1em;
	-webkit-transform-origin: left -20px;
	        transform-origin: left -20px;
	-webkit-animation: raining 10s linear 2s infinite;
	        animation: raining 10s linear 2s infinite;
}
#rain i svg {
	width: 100%;
	height: 100%;
}
/* different sizes, and default origins based on size */
#rain i:nth-of-type(4n) {
	height: 30px;
	width: 30px;
	-webkit-transform-origin: right -30px;
	        transform-origin: right -30px;
}
#rain i:nth-of-type(4n+1) {
	height: 24px;
	width: 24px;
	-webkit-transform-origin: left -30px;
	        transform-origin: left -30px;
}
#rain i:nth-of-type(4n+2){
	height: 10px;
	width: 10px;
	-webkit-transform-origin: -30px 0;
	        transform-origin: -30px 0;
}
/* different speeds, with iteration counts to equal 3minutes approx. */
#rain i:nth-of-type(4n) {
	-webkit-animation-duration: 15.3s;
	        animation-duration: 15.3s;
	-webkit-transform-origin: -10px -20px;
	        transform-origin: -10px -20px;
}
#rain i:nth-of-type(4n+1){
	-webkit-animation-duration: 11.1s;
	        animation-duration: 11.1s;
	-webkit-transform-origin: 10px -20px;
	        transform-origin: 10px -20px;
}
#rain i:nth-of-type(4n+2) {
	-webkit-animation-duration: 12.7s;
	        animation-duration: 12.7s;
	-webkit-transform-origin: right -20px;
	        transform-origin: right -20px;
}
/* different delays so they don't all start at the same time */
#rain i:nth-of-type(3n) {
	-webkit-animation-delay: 2.3s;
	        animation-delay: 2.3s;
}
#rain i:nth-of-type(3n+1) {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}
#rain i:nth-of-type(3n+2) {
	-webkit-animation-delay: 3.4s;
	        animation-delay: 3.4s;
}
/* playing with timing functions to make it a teeny bit more random like */
#rain i:nth-of-type(5n),
#rain i:nth-of-type(5n+1),
#rain i:nth-of-type(5n+2),
#rain i:nth-of-type(5n+3) {
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
#rain i:nth-of-type(5n+4) {
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}
#rain i:nth-of-type(11n) {
	-webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
	        animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
}
/* playing with opacity to make it a teeny bit more random like */
#rain i:nth-of-type(7n){
	opacity: 0.5;
}
#rain i:nth-of-type(7n+2) {
	opacity: 0.3;
}
#rain i:nth-of-type(7n+4) {
	opacity: 0.7;
}
#rain i:nth-of-type(7n+6) {
	opacity: 0.6;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-transform-origin: left 10px;
	        transform-origin: left 10px;
}
#rain i:nth-of-type(7n+1){
	opacity: 0.8;
}

/* General Styling of the snowflakes */
#flakes i {
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	-webkit-transform-origin: left -20px;
	        transform-origin: left -20px;
	-webkit-animation: falling 3s linear 2s infinite;
	        animation: falling 3s linear 2s infinite;
	background-image: linear-gradient(180deg, rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%), linear-gradient(90deg,  rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%), linear-gradient(45deg,  rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%), linear-gradient(135deg,  rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%);
}
/* different sizes, and default origins based on size */
#flakes i:nth-of-type(4n) {
	height: 30px;
	width: 30px;
	-webkit-transform-origin: right -30px;
	        transform-origin: right -30px;
}
#flakes i:nth-of-type(4n+1) {
	height: 24px;
	width: 24px;
	-webkit-transform-origin: left -30px;
	        transform-origin: left -30px;
}
#flakes i:nth-of-type(4n+2){
	height: 10px;
	width: 10px;
	-webkit-transform-origin: -30px 0;
	        transform-origin: -30px 0;
}
/* different speeds, with iteration counts to equal 3minutes approx. */
#flakes i:nth-of-type(4n) {
	-webkit-animation-duration: 5.3s;
	        animation-duration: 5.3s;
	-webkit-transform-origin: -10px -20px;
	        transform-origin: -10px -20px;
}
#flakes i:nth-of-type(4n+1){
	-webkit-animation-duration: 3.1s;
	        animation-duration: 3.1s;
	-webkit-transform-origin: 10px -20px;
	        transform-origin: 10px -20px;
}
#flakes i:nth-of-type(4n+2) {
	-webkit-animation-duration: 1.7s;
	        animation-duration: 1.7s;
	-webkit-transform-origin: right -20px;
	        transform-origin: right -20px;
}
/* different delays so they don't all start at the same time */
#flakes i:nth-of-type(3n) {
	-webkit-animation-delay: 2.3s;
	        animation-delay: 2.3s;
}
#flakes i:nth-of-type(3n+1) {
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
}
#flakes i:nth-of-type(3n+2) {
	-webkit-animation-delay: 3.4s;
	        animation-delay: 3.4s;
}
/* playing with timing functions to make it a teeny bit more random like */
/*#flakes i:nth-of-type(5n)   {
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
#flakes i:nth-of-type(5n+1) {
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
}
#flakes i:nth-of-type(5n+2) {
	-webkit-animation-timing-function: ease;
	        animation-timing-function: ease;
}
#flakes i:nth-of-type(5n+3) {
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
#flakes i:nth-of-type(5n+4) {
	-webkit-animation-timing-function:linear;
	        animation-timing-function:linear;
}*/
#flakes i:nth-of-type(5n),
#flakes i:nth-of-type(5n+1),
#flakes i:nth-of-type(5n+2),
#flakes i:nth-of-type(5n+3) {
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
}
#flakes i:nth-of-type(5n+4) {
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}
#flakes i:nth-of-type(11n) {
	-webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
	        animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
}
/* playing with opacity to make it a teeny bit more random like */
#flakes i:nth-of-type(7n){
	opacity: 0.5;
}
#flakes i:nth-of-type(7n+2) {
	opacity: 0.3;
}
#flakes i:nth-of-type(7n+4) {
	opacity: 0.7;
}
#flakes i:nth-of-type(7n+6) {
	opacity: 0.6;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-transform-origin: left 10px;
	        transform-origin: left 10px;
}
#flakes i:nth-of-type(7n+1){
	opacity: 0.8;
}
#sunlayer {
	/*background: #ffff00 linear-gradient(45deg, #ffffff 0%, #87ceeb 66%, #ffff33 95%, #ffff00 100%);*/
	background: #e1c45e radial-gradient(at var(--sunPosition) top, #b26339 0, #e1c45e 20%, #576e71 30%, #154277 100%);
	background-size: 100% 100%;
}
/* KEYFRAMES */
@-webkit-keyframes animateCloudHorizontal {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	100% {
		-webkit-transform: translateX(calc(-100vw - 100%));
		        transform: translateX(calc(-100vw - 100%));
	}
}
@keyframes animateCloudHorizontal {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	100% {
		-webkit-transform: translateX(calc(-100vw - 100%));
		        transform: translateX(calc(-100vw - 100%));
	}
}
@-webkit-keyframes animateCloud {
	0% {
		margin-left: -500px;
	}
	100% {
		margin-left: 100%;
	}
}
@keyframes animateCloud {
	0% {
		margin-left: -500px;
	}
	100% {
		margin-left: 100%;
	}
}
@-webkit-keyframes animatedMist {
	0% {
		-webkit-transform: translateX(-250%);
		        transform: translateX(-250%);
	}
	100% {
		-webkit-transform: translateX(250%);
		        transform: translateX(250%);
	}
}
@keyframes animatedMist {
	0% {
		-webkit-transform: translateX(-250%);
		        transform: translateX(-250%);
	}
	100% {
		-webkit-transform: translateX(250%);
		        transform: translateX(250%);
	}
}
@-webkit-keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}
@keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}
/* animation used for ALL raindrops */
@-webkit-keyframes raining {
	0% {
		-webkit-transform: translate3d(0, 0, 0) scale(0.9,0.9);
		        transform: translate3d(0, 0, 0) scale(0.9,0.9);
	}
	100% {
		-webkit-transform: translate3d(30px, 1000px, 0) scale(1.1,1.1);
		        transform: translate3d(30px, 1000px, 0) scale(1.1,1.1);
	}
}
@keyframes raining {
	0% {
		-webkit-transform: translate3d(0, 0, 0) scale(0.9,0.9);
		        transform: translate3d(0, 0, 0) scale(0.9,0.9);
	}
	100% {
		-webkit-transform: translate3d(30px, 1000px, 0) scale(1.1,1.1);
		        transform: translate3d(30px, 1000px, 0) scale(1.1,1.1);
	}
}
/* animation used for ALL snowflakes */
@-webkit-keyframes falling {
	0% {
		-webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.9,0.9);
		        transform: translate3d(0, 0, 0) rotate(0deg) scale(0.9,0.9);
	}
	100% {
		-webkit-transform: translate3d(30px, 1000px, 0) rotate(360deg) scale(1.1,1.1);
		        transform: translate3d(30px, 1000px, 0) rotate(360deg) scale(1.1,1.1);
	}
}
@keyframes falling {
	0% {
		-webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.9,0.9);
		        transform: translate3d(0, 0, 0) rotate(0deg) scale(0.9,0.9);
	}
	100% {
		-webkit-transform: translate3d(30px, 1000px, 0) rotate(360deg) scale(1.1,1.1);
		        transform: translate3d(30px, 1000px, 0) rotate(360deg) scale(1.1,1.1);
	}
}
@-webkit-keyframes twinkle {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes twinkle {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
/* ANIMATIONS */
#fog1 {
	-webkit-animation: animatedMist 60s linear infinite;
	        animation: animatedMist 60s linear infinite;
}
#fog2 {
	-webkit-animation: animatedMist 30s linear infinite;
	        animation: animatedMist 30s linear infinite;
	-webkit-animation-delay: 8s;
	        animation-delay: 8s;
}
/*.x1, .x2 {
	margin-top: 2vmax;
}
.x1 {
	-webkit-animation: animateCloud 65s linear infinite;
	        animation: animateCloud 65s linear infinite;
}
.x2 {
	-webkit-animation: animateCloud 50s linear infinite;
	        animation: animateCloud 50s linear infinite;
}*/
/* OBJECTS */
/*
.cloud {
	position: relative;
	top: 30px;
}
.x1 .cloud {
	width: 250px;
	height: 162px;
	background-image: url("../img/fx/clouds.png");
	background-size: 100% 100%;
}
.x2 .cloud {
	width: 350px;
	height: 227px;
	background-image: url("../img/fx/cloudsflip.png");
	background-size: 100% 100%;
}
*/
.animate-left-slow, .cldS {
	/*animation: animateCloudHorizontal 65s linear infinite;*/
	-webkit-animation: animateCloudHorizontal var(--windspeed-s) linear infinite;
	        animation: animateCloudHorizontal var(--windspeed-s) linear infinite;
}
.animate-left-medium, .cldM {
	/*animation: animateCloudHorizontal 45s linear infinite;*/
	-webkit-animation: animateCloudHorizontal var(--windspeed-m) linear infinite;
	        animation: animateCloudHorizontal var(--windspeed-m) linear infinite;
}
.animate-left-fast, .cldL {
	/*animation: animateCloudHorizontal 35s linear infinite;*/
	-webkit-animation: animateCloudHorizontal var(--windspeed-f) linear infinite;
	        animation: animateCloudHorizontal var(--windspeed-f) linear infinite;
}
.cloud {
	position: absolute;
	width: 180px;
	width: 18vh;
	height: auto;
	-webkit-filter: drop-shadow(0.1em 0.1em 0.2em var(--dG));
	        filter: drop-shadow(0.1em 0.1em 0.2em var(--dG));
}
.cldS {
	width: 90px;
	width: 13vh;
}
.cldM {
	width: 180px;
	width: 18vh;
}
.cldL {
	width: 260px;
	width: 26vh;
}
.cld1 {
	top: 55%;
	left: 100vw;
	-webkit-animation-delay: -8s !important;
	        animation-delay: -8s !important;
}
.cld2 {
	top: 70%;
	left: 100vw;
	-webkit-animation-delay: -2s !important;
	        animation-delay: -2s !important;
}
.cld3 {
	top: 25%;
	left: 100vw;
	-webkit-animation-delay: -38s !important;
	        animation-delay: -38s !important;
}
.cld4 {
	top: 70%;
	left: 100vw;
	-webkit-animation-delay: -9s !important;
	        animation-delay: -9s !important;
}
.cld5 {
	top: 10%;
	left: 100vw;
	-webkit-animation-delay: -15s !important;
	        animation-delay: -15s !important;
}
.cld6 {
	top: 42%;
	left: 100vw;
	-webkit-animation-delay: -2s !important;
	        animation-delay: -2s !important;
}
.cld7 {
	top: 60%;
	left: 100vw;
	-webkit-animation-delay: -25s !important;
	        animation-delay: -25s !important;
}
.cld8 {
	top: 5%;
	left: 100vw;
	-webkit-animation-delay: -1s !important;
	        animation-delay: -1s !important;
}
.cld9 {
	top: 10%;
	left: 100vw;
	-webkit-animation-delay: -2s !important;
	        animation-delay: -2s !important;
}
/*390px*/
@media ( max-width: 24.375em ) {
	#country {
		display: none;
	}
}
/*384px*/
@media ( max-width: 24em ) {
	#date {
		font-size: 5vmax
	}
}
/*320px (Realy old iPhone 4)*/
@media ( max-width: 20em ) {
	#gps_compass {
		display: none;
	}
}
/*250px */
@media (max-width: 15.625em) {
	#region,
	#forecast #icon,
	#wd_wind svg:last-of-type {
		display: none;
	}
	#weatherdetails {
		grid-template-areas:
			"wind"
			"pressure"
			"humidity"
			"sunrise"
			"sunset"
			"morning"
			"evening"
			"moonset"
			"moonrise"
			"location";
		margin-left: 1em;
	}
}
